<div class="cotainer">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Đăng nhập</div>
        <div class="card-body">
          <%= form_for login_path do |f| %>
            <div class="form-group row">
              <label for="email_address" class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-6">
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <%= f.password_field :password, class: 'form-control' %>
              </div>
            </div>
            <% if flash[:errors_login].presence %>
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <span class="text-danger"><%= flash[:errors_login] %></span>
              </div>
            </div>
            <% end %>

            <div class="col-md-6 offset-md-4">
              <%= f.submit 'Đăng nhập', :class => 'btn btn-sm btn-primary' %>
            </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>