<%= render 'header'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>CHỈNH SỬA SẢN PHẨM</h2>
    </div>
    <div class="col-6">
      <%= form_for :product, url: product_path(@product), method: :PATCH do |f| %>
        <div class="form-group">
          <label for="name">Tên</label>
          <%= f.text_field :name, class: 'form-control' %>
          <% if @product.errors[:name].presence %>
            <div class="text-danger"><%= @product.errors[:name].first %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="image">Ảnh</label>
          <%= f.text_field :image, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for="description">Nội dung</label>
          <%= f.text_area :description, class: 'form-control' %>
          <% if @product.errors[:description].presence %>
            <div class="text-danger"><%= @product.errors[:description].first %></div>
          <% end %>
        </div>
        <div class="form-group">
          <label for="description">Giá</label>
          <%= f.number_field :price, class: 'form-control' %>
          <% if @product.errors[:price].presence %>
            <div class="text-danger"><%= @product.errors[:price].first %></div>
          <% end %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>